*{ margin: 0; padding: 0; outline: 0 }
body{ font-family: arial; font-size: 18px; color: #444; line-height: 25px }
.content{ background: #f0f0f0; width: 900px; margin: 0 auto; }
.maincontent{ background: #fff; margin: 10px; min-height: 500px; padding: 5px 10px;}
.header, .footer{ text-align: center; background: #ddd; padding: 10px; }
.para{ min-height: 300px; min-width: 830px; background: #F0F0F0; padding: 15px; border: 1px solid gray; margin-top: 10px;  }

.bg{ background: #000; color: #fff }
input[type="text"]{ width: 200px; height: 20px; padding: 5px;  }
.ourDiv{ height: 200px; width: 200px;  color: #fff; display: table-cell; vertical-align: middle; text-align: center;  }
.outerdiv{ width: 200px; height: 200px; border: 2px solid #666 }
